.form-container {
    width:60%;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;  
}
h2{
	text-align:center;
}

.form-container {}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}

.success{
    width:60%;
    margin-left: 50px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;    
}
span{
	margin-left:8px;
}
.form-group li{
	list-style-type:none;
}