<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>CapSteam-Grupo 4</title>
</head>
<body>

	<div class="container">

		<h1>
			Capsteam<br />
		</h1>
		<div class="button-group">
			<a th:href="@{/videogame/nintendoGames}" class="btn custom-btn">Nintendo Games</a>
			<a th:href="@{/videogame/sigloXX}" class="btn custom-btn">20th Century Games</a>
			<a th:href="@{/videogame/bestsellers}" class="btn custom-btn">Bestsellers</a>
		</div>
		<h2>Formulario</h2>
		<div class="filter-box">
			<form th:action="@{/videogame}" method="get">
				<label for="genre">Filtrar por género:</label>
				<select name="genre" id="genre">
					<option value="">TODOS</option>
					<option value="ACTION" th:selected="${selectedGenre == 'ACTION'}">ACTION</option>
					<option value="SPORTS" th:selected="${selectedGenre == 'SPORTS'}">SPORTS</option>
					<option value="MISC" th:selected="${selectedGenre == 'MISC'}">MISC</option>
					<option value="ROLE_PLAYING" th:selected="${selectedGenre == 'ROLE_PLAYING'}">ROLE_PLAYING</option>
					<option value="SHOOTER" th:selected="${selectedGenre == 'SHOOTER'}">SHOOTER</option>
				</select>
				<label for="year">Filtrar por año:</label>
				<input type="number" id="year" name="year" min="1900" max="2050">

				<button type="submit">Filtrar</button>
			</form>
		</div>

		<h2>Juegos disponibles</h2>

		<p>Datos de la tabla de videojuegos</p>

		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Editor</th>
				<th>Genero</th>
				<th>Año</th>
				<th>Ventas</th>
			</tr>
			<tr th:each="vg : ${vgList}">
				<td th:text="${vg.id}"></td>
				<td th:text="${vg.name}"></td>
				<td th:text="${vg.publisher.name}"></td>
				<td th:text="${vg.genre}"></td>
				<td th:text="${vg.year}"></td>
				<td th:text="${vg.globalSales}"></td>

			</tr>

		</table>
		<p>
			<a href="/videogame/addVideogame" class="btn btn-primary">Nuevo Videojuego</a>
		</p>
	</div>
	<!-- Paginación para todos los juegos -->
	<nav aria-label="Pagination" th:if="${totalPages > 0}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
				<a th:replace="fragments/paging :: paging('/videogame' + ${url}, 1, '<<', 'First Page')"></a>
			</li>
			<li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
				<a th:replace="fragments/paging :: paging('/videogame' + ${url}, ${currentPage - 1}, 'Prev', 'Previous Page')"></a>
			</li>
			<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
				<a class="page-link" href="#">...</a>
			</li>
			<li class="page-item" th:classappend="${page == currentPage} ? 'active'"
				th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
				<a th:replace="fragments/paging :: paging('/videogame' + ${url}, ${page}, ${page}, 'Page ' + ${page})"></a>
			</li>
			<li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
				<a class="page-link" href="#">...</a>
			</li>
			<li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
				<a th:replace="fragments/paging :: paging('/videogame' + ${url}, ${currentPage + 1}, 'Next', 'Next Page')"></a>
			</li>
			<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
				<a th:replace="fragments/paging :: paging('/videogame' + ${url}, ${totalPages}, '>>', 'Last Page')"></a>
			</li>
		</ul>
	</nav>

</body>
</html>
