<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Videojuego</title>
</head>
<body>
<h1>Editar Videojuego</h1>
<form th:action="@{/videogames/update/{id}(id=${videogame.id})}" th:object="${videogame}" method="post">
    <label for="name">Nombre:</label>
    <input type="text" id="name" th:field="*{name}" required />

    <label for="platform">Plataforma:</label>
    <input type="text" id="platform" th:field="*{platform}" required />

    <label for="year">Año:</label>
    <input type="number" id="year" th:field="*{year}" required />

    <label for="genre">Género:</label>
    <select id="genre" th:field="*{genre}" required>
        <option th:each="genre : ${T(com.bootcamp.CapSteam.util.Genres).values()}"
                th:value="${genre}"
                th:text="${genre.name()}"></option>
    </select>

    <label for="publisher">Publisher:</label>
    <select id="publisher" th:field="*{publisher.id}" required>
        <option th:each="publisher : ${publishers}"
                th:value="${publisher.id}"
                th:text="${publisher.name()}"></option>
    </select>

    <button type="submit">Actualizar Videojuego</button>
</form>
</body>
</html>
