<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>CapSteam-Grupo 4</title>
</head>
<body>

	<div class="container">

		<h1>
			Capsteam<br />
		</h1>

		<h2>Juegos disponibles</h2>
		<p>Datos de la tabla de videojuegos</p>

		<table class="table table-striped">
			<tr>
				<th>Nombre</th>
				<th>Editor</th>
				<th>Genero</th>
				<th>Acciones</th>
			</tr>
			<tr th:each="vg, status : ${vgList}">
				<td th:text="${status.index + 1}" />
				<td th:text="${vg.name}" />
				<td th:text="${vg.Editor.name}" />
				<td th:text="${vg.editorl}" />
				<td><a th:href="@{/{id}(id=${vg.id})}">Detalle</a> | <a
					th:href="@{/edit(id=${vg.id})}">Editar</a> | <a
					th:href="@{/delete(id=${vg.id})}">Eliminar</a></td>
			</tr>

		</table>
		<p>
			<a href="/videogame/addVideogame" class="btn btn-primary">Nuevo Videojuego</a>
		</p>
	</div>
	<nav aria-label="Pagination" th:if="${totalPages > 0}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
				<a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
			</li>
			<li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
				<a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
			</li>
			<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
				<a class="page-link" href="#">...</a>
			</li>
			<li class="page-item" th:classappend="${page == currentPage} ? 'active'"
				th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
				<a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
			</li>
			<li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
				<a class="page-link" href="#">...</a>
			</li>
			<li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
				<a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
			</li>
			<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
				<a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
			</li>
		</ul>
	</nav>
</body>
</html>
